@using PizzaDelivery.Core.Enums
@model PizzaDelivery.Core.Models.PedidoModel

@{
    ViewData["Title"] = "Create";
}
<h1>Incluir Pedido</h1>

<hr />
<div class="row">
    <div class="col-md-8 col-lg-4">
        <form asp-action="CriarPedido">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Form"></partial>

            <div class="form-group">
                <input type="submit" value="Incluir Pedido" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Listar">Voltar à Lista</a>
            </div>
        </form>
    </div>
</div>
