@{
    ViewData["Title"] = "Pizza Delivery - Gustavo Olivio";
}

<div class="text-center">
    <h1>AlfaPeople</h1>
    <h4>Teste Lógico</h4>
    <br />
    <br />
    <hr />
    <h4>Gustavo Olivio</h4>
    <a class="btn btn-primary" href="https://www.linkedin.com/in/gustavo-olivio" target="_blank">Linkedin</a>
    <a class="btn btn-secondary" href="https://github.com/GustavoOlivio" target="_blank">Github</a>
    <hr />

</div>